/* Tablet & mobile */
@media (max-width: 1023px) {
    .mobile_menu {
        display: block;
    }

    .header_navbar-list {
        display: none;
    }

    .header_user-group {
        display: none;
    }

    .mobile_list .header_navbar-list {
        display: block;
        background-color: #333;
    }

    .header_navbar-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ffffff1a;
    }

    .header_user:hover .header_group-menu,
    .header_admin:hover .header_group-menu {
        display: none;
    }

    /* error */
    .error-phone {
        left: calc(30% + 10px);
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header_navbar-item-link {
        font-size: 16px;
        line-height: normal;
        padding: 10px 0;
        margin: 10px 0;
    }

    .header_searchbar {
        width: 420px;
    }

    .header_admin, 
    .header_user {
        margin-right: -24px;
    }

    /* Cart */
    .cart_product {
        margin-left: 16px;
    }

    .mobile-cart {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .header_navbar {
        padding: 0 12px;
    }

    .header_navbar-item-link {
        font-size: 14px;
        line-height: normal;
        padding: 10px 0;
        margin: 10px 0;
    }

    .header_cart {
        display: none;
    }

    .header_search {
        margin-right: 0;
    }

    .header_searchbar {
        width: 100%;
    } 

    .header_cart-quantity {
        top: 50%;
        transform: translateY(-50%);
    }

    /* Sidebar  */
    .mobile_list {
        min-width: 200px;
    }

    .mobile_header-logo {
        width: 150px;
    }
    
    .mobile_box-header {
        font-size: 18px;
    }

    /* Product */
    #show-product {
        margin: 0 8px;
    }

    .product_logo {
        padding: 0 8px;
    }

    .product_logo-icon,
    .product_logo-name {
        font-size: 24px;
    }

    .product_filter {
        padding: 0 8px;
    }

    .product_filter-item {
        margin-right: 24px;
    }

    .product_item-img {
        width: 150px;
    }

    .product_item-name {
        font-size: 13px;
    }

    .product_item-current-price {
        font-size: 14px;
    }

    .product_item-old-price {
        font-size: 12px;
    }

    /* Pagination */
    .pagination-prev, 
    .pagination-next, 
    .pagination-item {
        min-width: 30px;
        margin: 0 6px;
        font-size: 14px;
    }

    /* Product detail */
    .product_detail-img {
        width: 200px;
    }

    .product_detail-info {
        padding: 0 8px;
    }

    .product_detail-name {
        font-size: 18px;
    }

    .product_detail-cuurent-price {
        font-size: 18px;
    }

    .product_detail-old-price {
        font-size: 16px;
    }

    .product_detail-pay {
        flex-direction: column;
    }

    .product_detail-add-cart {
        margin: 0 0 12px 0;
    }

    /* Search */
    .search_empty-notice {
        font-size: 20px;
    }   

    .search_empty-box {
        padding: 30px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .search_empty-list {
        width: 100%;
    }

    .search_empty-list-heading {
        font-size: 16px;
    }

    /* Order */
    .order_box-title {
        white-space: nowrap;
        overflow-x: auto;
    }

    .order_box-title::-webkit-scrollbar {
        background-color: transparent;
    }

    .order_item {
        padding: 8px;
    }

    .order_item-name {
        width: 150px;
    }

    .order_item-name,
    .order_item-price,
    .order_item-quantity {
        font-size: 14px;
    }

    .order_box-item {
        margin: 0 5px;
    }

    .order_box-item:nth-child(5) {
        min-width: 80px;
    }

    .order_box-item h3 {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .order_box-item span {
        font-size: 12px;
    }

    .order_box-item i {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 14px;
    }

    /* Account */
    .account-form {
        width: 95vw;
    }

    /* Footer */
    .footer {
        padding: 0 16px;
    }

    .footer_logo {
        justify-content: center;
    }

    .footer_heading,
    .footer_list {
        text-align: center;
    }

    .footer_list.social .footer_item span {
        display: inline-block;
        width: 55px;
    }
}

/* low resolution PC */
@media (min-width: 1024px) and (max-width: 1400px) {
    .header_group-menu {
        top: calc(100% + 8px);
        left: unset;
        right: 0;
    }

    .header_group-menu::before {
        left: unset;
        right: 12px;
    }

    .header_group-menu::after {
        left: unset;
        right: 0;
    }

    .header_cart, .header_search {
        margin-right: 10px;
    }

    .error-phone {
        left: calc(30% + 20px);
    }

    /* admin */
    .admin_user-account-item-box {
        margin: 0 34px;
    }

    .admin_user-account-item-box:nth-child(3) {
        flex: 0 0 25%;
    }

    .admin_user-account-item-box:nth-child(4) {
        min-width: 125px;
    }

    .admin_user-account-item-box h3 {
        font-size: 16px;
    }

    .admin_user-account-item-box p {
        font-size: 12px;
    }

    .admin_user-right {
        flex: 0 0 20%;
    }
}

/* Admin page */
@media (max-width: 1240px) {
    #admin-main {
        display: none;
    }

    .not-support {
        display: flex;
    }
}